package ${package}.${moduleName}.entity;

import com.baomidou.mybatisplus.annotations.TableId;
import com.baomidou.mybatisplus.annotations.TableName;


import javax.validation.constraints.NotNull;

import io.swagger.annotations.ApiModelProperty;
import com.hndfsj.common.validator.group.AddGroup;
import com.hndfsj.common.validator.group.UpdateGroup;
import lombok.Data;
    #if(${hasBigDecimal})
    import java.math.BigDecimal;
    #end
import java.io.Serializable;
import java.time.LocalDateTime;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@TableName("${tableName}")
@Data
public class ${className}Entity implements Serializable {
    private static final long serialVersionUID = 1L;

    //columns start
    #foreach ($column in $columns)
        /**
         * $column.comments
         */
        public static final String $column.ATTRNAME="$column.ATTRNAMEVALUE" ;
    #end
    public static final String TABLENAME = "${tableName}" ;
    //columns end

    //columnField start
    #foreach ($column in $columns)
        /**
         * $column.comments
         */
        #if($column.columnName == $pk.columnName)
        @TableId
        @NotNull(message = "id在修改时不能为空", groups = UpdateGroup.class)
        #end
    @ApiModelProperty(value = "$column.comments")
    private $column.attrType $column.attrname;
    #end
    //columnField end

}
